.loader {
    position: relative;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    height: 100px;
    box-sizing: border-box;
}
.loaderImg{
    position: absolute;
    top: 30%;
    left: 45%;
}