.favoritePage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2em;
}

.favoritePage__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-start;
  height: 100%;
  min-height: 60vh;
  gap: 3%;
  margin: 3em 0 10em;
  width: 98%;
  row-gap: 2em;
  min-height: 60vh;

  .card {
    width: 45% !important;
  }
}
