@import '../../styles/variables.scss';

.favoritePage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2em;

  @media(max-width: $hideMenu-width) {
    padding: 2em 0.5em;
  }
}

.favoritePage__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-start;
  height: 100%;
  min-height: 60vh;
  gap: 3%;
  margin: 3em 0 10em;
  width: 98%;
  row-gap: 2em;
  min-height: 60vh;
  min-width: 66vw;

  @media(max-width: $hideMenu-width) {
    min-width: 300px;
    justify-content: center;
    gap: 6%;
    row-gap: 2em;
  }

  @media(max-width: 560px) {
    gap: 4vw;
    row-gap: 2em;
  }

}

.recipesError {
  @media(max-width: $mobile-width) {
    font-size: 20px;
  }
}
