.favoritePage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     justify-content: space-between;
    padding: 2em;

    h1 {
        margin-left: 2em;
    }
}

.favoritePage__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
    height: 100%;
    min-height: 60vh;
    gap: 3%;
    margin: 3em auto 10em;
    width: 90%;

}
