
@import '../../styles/variables.scss';

.pageRecipes {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.recipesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 10px;
}

.paginationLoader {
    position: relative;
    top: -25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3em;
}

.cardWrapper {
    overflow-y: scroll;
    height: 100vh;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

.devider {
    height: 18em;
}
