.pageRecipies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    background-color: #ffe5a1;
    // background-color: #faebd7;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 1em;
}