@import '../../styles/variables.scss';

.profile {
  position: relative;

  display: flex;
  align-items: center;

  padding: 3px 15px;
  transition: .2s;

  background-color: $secondAppColor;
  border-radius: 15px;
  outline: 1px solid #ccc;
  z-index: 6;

  &:hover {
    cursor: pointer;
  }

  &__image {
    width: 32px;
    height: 32px;

    margin-left: 15px;

    background-image: url('../../assets/icons/user.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__select {
    position: absolute;

    top: 38px;
    right: 0;

    width: 100%;
    padding: 0 15px 0px 15px;

    color: $secondAppColor;

    background-color: $secondAppColor;
    border-radius: 0 0 15px 15px;
    outline: 1px solid #ccc;
    pointer-events: none;
    opacity: 0;
    transition: .2s;
  }

  &__select_active {
    color: black;
    pointer-events: all;
    opacity: 1;
    padding: 0 15px 15px 15px;

    .profile__item {
      &:first-child {
        padding-top: 10px;
      }
    }
  }

  &__item {
    margin-bottom: 5px;
    transition: .2s;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &__active {
    border-radius: 15px 15px 0 0;
  }

  &__link {
    color: black;
    text-decoration: none;
    transition: .2s;

    &:hover {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
