@import '../../styles/variables.scss';

.card {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 3px 8px 2px #ddd;
    min-width: 235px;

    transition: 0.3s;
    cursor: pointer;
    max-height: 485px;
    overflow: hidden;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 0 30px 1px #ffe5a1;
    }

    @media(max-width: $tablet-width) {
        max-height: 350px;
        width: 29%;
        min-width: 170px;
    }

    @media(max-width: 610px) {
        min-width: 45%;
        max-height: 410px;
        min-height: 150px;
    }
}

.card__favorite {
    width: 30%;
    max-width: 270px;
    min-width: 200px;
    height: 470px;

    @media(max-width: 1200px) {
        min-width: 295px;
        max-width: 300px;
    }

    @media(max-width: $tablet-width) {
        min-width: 240px;
        max-height: 400px;
        height: 385px;

        .card__content {
            margin-bottom: 3%;
            height: 40px;
        }

        .cardParams__wrapper {
            margin: 0;
            margin-bottom: 2em;
        }
    }

    @media(max-width: 550px) {
        min-width: 175px;
        max-height: 315px;
    }
}

.link {
    color: black;
    text-decoration: none;
}

.card__header {
    margin: 1em auto;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
    overflow: hidden;

    @media(max-width: $tablet-width) {
        font-size: 16px;
    }

    @media(max-width: 500px) {
        font-size: 14px;
    }
}

.card__img {
    max-width: 100%;
}

.cardParams__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin: 1em auto;
    width: 100%;
    font-weight: bold;

    @media(max-width: $tablet-width) {
        font-size: 13px;
    }

    @media(max-width: 500px) {
        font-size: 12px;
    }
}
.cardParams__img {
    margin-right: 0.5em;
    width: 18px;
    position: relative;
    top: 5px;

    @media(max-width: 500px) {
        width: 13px;
    }
}

.card__content {
    font-size: 15px;
    display: -webkit-box;
    padding: 0 1em;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1em solid white;
    border-radius: 10px;

    @media(max-width: $tablet-width) {
        font-size: 14px;
    }

    @media(max-width: $hideMenu-width) {
        -webkit-line-clamp: 1;
    }

    @media(max-width: 500px) {
        font-size: 12px;
    }
}

.cardParams__item {
    max-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.card__headerPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
}

.paginationLoader {
    width: 100%;
}
