@import '../../../../styles/variables.scss';

.component {
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 30px 15px;
  background-color: $appColor;
}

.title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.5rem;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.item_component {
  width: 33%;
}

.item_title {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}
