@import '../../styles/variables.scss';

.cabinet {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2em;
  gap: 5em;

  @media(max-width: $desktop-width) {
    gap: 1em;
  }

  @media(max-width: $hideMenu-width) {
    padding: 0.5em;
  }
}
