@import  '../../styles/variables.scss';

.filter{
    margin: 2em 0;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: $appColor;
    box-shadow: 0 0 5px 2px #ffe5a1;
    transition: 0.3s;
    position: relative;
    max-height: 70vh;
    overflow-y: auto;
    min-height: max-content;

    &::-webkit-scrollbar {
        padding: 10px;
        width: 0.15em;
        height: 0.15em;
        background-color: $appColorHover;
        }

    &::-webkit-scrollbar-thumb {
        background-color: $appColorActive;
        }


    &__header{
        margin-bottom: 1em;
    }

    &__subheader{
        gap: 5%;
        display: flex;
        align-items: center;
    }
}

.filterList {
    height: 100%;
    list-style: none;
    height: min-content;
    transition: 0.3s;


    &__item {
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        color: black;
        text-decoration: none;
        transition: 0.3s;
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 2px;
            width: 0;
            background-color: rgba(0, 0, 0, 0.4);
            transition: 0.3s;
        }

        &:hover {
            text-shadow: 0 0 10px white;
            &::after {
                width: 100%;
            }
        }
    }

    &__img {
        width: 2em;
        margin-right: 1em;
    }
}

.filterSublist{
    margin-bottom: 0em;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transform: scaleY(0);
    transition: 0.3s;
    padding-left: 0em;
}
.filterSublist_open {
    margin-bottom: 2em;
    opacity: 1;
    visibility: visible;
    height: auto;
    transform: scaleY(100%);
    transition: 0.3s;
    padding-left: 1em;
}

.filter__subheaderWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    gap: 3%;
    cursor: pointer;
}

.filter__headerList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navBtn__wrapper {
    display: flex;
    flex-direction: column;
}

.sliderBtn {
    margin: .1rem 0;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 20px;
}

.filterList__btn {
    background-image: url('../../assets/icons/arrowFilter.svg');
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s;
}

.filterList__btn_close {
    background-image: url('../../assets/icons/arrowFilter.svg');
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transform: rotate(180deg);
    transition: 0.3s;
}
