.navigation {
  flex-grow: 1;
  display: flex;

  &__item {
    padding: 0 12px;
    align-self: center;

    color: black;
    text-decoration: none;
    transition: .2s;

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}