@import '../../styles/variables.scss';

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  transition: 0.6s;

  &__item {
    padding: 0 12px;
    align-self: center;

    @media(max-width: $desktop-width) {
      margin-bottom: 1em;
    }

    color: black;
    text-decoration: none;
    transition: .2s;

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }

  @media(max-width: $desktop-width) {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: $appColor;
    border-radius: 10px;
    flex-direction: column;
    gap: 15%;
    z-index: 55;
    top: 100%;
    left: -100%;
  }

  @media(max-width: $tablet-width) {
    gap: 10%;
  }
}

.navOverlay {
  display: none;

  @media(max-width:$desktop-width) {
    display: block;
    transition: 0.6s;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 15;
  }
}

.navOverlay_active {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.navigation_active {
  left: 2%;
  height: max-content;
  padding: 2em 0;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}

.navBtn {
  display: none;
  transition: 0.6s;
  z-index: 20;

  @media (max-width: $desktop-width) {
    display: block;
  }

  @media(max-width: $mobile-width) {
    padding: 10px;
  }
}

.navProfile__wrapper {
  width: 60%;
  align-self: center;
  display: none;

  @media(max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}
