.carusel_wrapper {
  position: relative;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.carusel {
  padding: 20px;
}

.prev_slide, .next_slide {
  position: absolute;
  z-index: 1;

  width: 40px;
  height: 40px;

  top: 50%;
  transform: translateY(-50%);

  font-size: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: .2s;

  &:hover {
    opacity: .7;
  }
}

.prev_slide {
  left: -60px;
  background-image: url('../../../../assets/icons/arrow_back.svg');
}

.next_slide {
  right: -60px;
  background-image: url('../../../../assets/icons/arrow_forward.svg');
}

.loader {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 140px;

  background-image: url('../../../../assets/icons/loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}