@import '../../../../styles/variables.scss';

.carusel_wrapper {
  position: relative;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 70px;

  @media(max-width: $desktop-width) {
    width: 85%;
  }

  @media(max-width: $hideMenu-width) {
    overflow-x: hidden;
    width: 100%;
  }
}

.carusel {
  padding: 20px;

  @media(max-width: $hideMenu-width) {
    overflow: visible;
    width: 100%;
  }
}

.prev_slide, .next_slide {
  position: absolute;
  z-index: 1;

  width: 40px;
  height: 40px;

  top: 50%;
  transform: translateY(-50%);

  font-size: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: .2s;

  &:hover {
    opacity: .7;
  }

  @media(max-width: $hideMenu-width) {
    display: none;
  }
}

.prev_slide {
  left: -60px;
  background-image: url('../../../../assets/icons/arrow_back.svg');

  @media(max-width: $desktop-width) {
    left: -50px;
  }
}

.next_slide {
  right: -60px;
  background-image: url('../../../../assets/icons/arrow_forward.svg');
}

.loader {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 140px;

  background-image: url('../../../../assets/icons/loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider__card {

  @media(max-width: $tablet-width) {
    min-width: 100%;
  }
}
