.modal {
  position: absolute;
  z-index: 10;

  top: 10vh;
  left: 50%;
  transform: translateX(-50%);

  width: 30vw;
  padding: 30px;

  text-align: center;

  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  &__title {
    margin-bottom: 30px;
    font-size: 1.6rem;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 28px;
    height: 28px;

    background-image: url('../../assets/icons/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
      cursor: pointer;
    }
  }
}

.overlay {
  position: fixed;
  z-index: 5;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.5);
}