.loading {
  width: 50px;
  height: 50px;
  background-image: url('../../../assets/icons/loaderFavorite.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  margin-left: 30px;
}

.calculator-sidebar {
  width: 25%;
  list-style: none;

  &-section {
    padding: 5px 0;
    margin: 3px 0;
    position: relative;

    &-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &__title {
        font-size: 16px;
        display: inline-block;

        &::first-letter {
          text-transform: capitalize;
        }
      }

      &__plus {
        font-size: 25px;
        font-weight: 500;
      }
    }

    &-buttons {
      display: grid;
      grid-template-columns: repeat(3, auto) 1fr;
      align-content: center;

      &__favorite {
        justify-self: end;
      }
    }

    &-list {
      list-style: none;

      &__item {
        padding: 0 0 10px;
        line-height: 1.2;
        cursor: pointer;
      }
    }
  }
}
