@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

.search__visibiity_hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
.search__visibiity_visible {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
