.recipeInfo {
    justify-items: stretch;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &__header {
        margin-bottom: 2em;
    }

    &__img {

    }

    &__headerWrapper {

    }

    ul {
        list-style: none;
    }
}

.recipeInfoPart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2em;
}

.ingredients {

    &__header {
        font-size: 2em;
    }
}

.nutrients {
    
}

.characteristics {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
}

.typesWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}