@import '../../styles/variables.scss';

.recipeInfo {
    justify-items: stretch;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10em;

    &__header {
        margin-bottom: 2em;
    }

    &__headerWrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }

    ul {
        list-style: circle;
        padding: 15px 35px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        box-shadow: 1px 3px 8px 2px #ddd;

        width: 100%;
    }
}

.recipeImg {
    min-width: 450px;
    border-radius: 15px;
    box-shadow: 0px 8px 10px 5px #ddd;
}

.recipeInfoPart{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5em;
    min-height: 50%;

    h3 {
        margin-bottom: 1em;
    }
}

.ingredients {

    &__header {
        font-size: 2em;
    }
}

.characteristics {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
}

.typesWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.typesWrapper__main {
    margin-top: 15em;
    list-style: none !important;
    flex-direction: row !important;
    align-items: center !important;
    width: 70% !important;
    min-width: 450px;
    min-height: 150px;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        border: 2px solid $appColor;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 3px 1px #ddd;
        width: 33%;
    }
}

.favMainWrapper {
    position: relative;

    button {
        top: 0;
        right: -11%;
    }
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
    gap: 4em;
    position: relative;
    top: 6em;
    justify-content: center;
    width: 50%;
    max-width: 70vw;
    min-height: 450px;
    margin-bottom: 30px;
    padding: 40px 30px 60px 30px;
    background-color: #f4f4f4;
    box-shadow: 1px 3px 8px 2px #ddd;
    border-radius: 15px;
}

.labels {
    width: 30%;
    ul {
        height: 30vw;
        overflow-y: scroll;

    &::-webkit-scrollbar {
        padding: 10px;
        width: 0.15em;
        height: 0.15em;
        background-color: $appColorHover;
        }

    &::-webkit-scrollbar-thumb {
        background-color: $appColorActive;
        }
    }
}

.nutrient__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nutrient__info {
    margin-top: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2em;
}

.nutrient__header {
    font-weight: bold;
}

.nutrient__total {
    font-weight: bold;
    color: $appColorActive;
    border-bottom: 3px dashed $appColorActive;
}

.health__item {
    border: 3px solid $appColor;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 3px 1px #ddd;
}

.healthWrapper {
    display: grid !important;
    grid-template-rows: 1fr 1fr 2fr !important;
    list-style: none !important;
    text-align: center;
}
