@import '../../styles/variables.scss';

.calculater {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
}

.wrapper {
  max-width: 65vw;
  min-height: 500px;

  margin-bottom: 30px;
  padding: 40px 30px 60px 30px;

  background-color: #f4f4f4;
  border-radius: 15px;
}

.description {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 35px;

  text-align: center;
  line-height: 1.5rem;
}

.selectText {
  color: $appColorActive;
}

.wrapper2Columns {
  display: flex;
  justify-content: space-evenly;
}

.controls {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  display: block;

  min-width: 30vw;
  max-width: 30vw;
  min-height: 50px;

  padding: 15px;
  margin-bottom: 30px;

  font: inherit;

  outline: none;
  border-radius: 10px;
}

.error {
  visibility: hidden;
  margin-bottom: 10px;
  color: red;
}

.errorShow {
  visibility: visible;
}

.loading {
  width: 100px;
  height: 100px;

  margin: 0 auto;
  margin-top: 100px;

  background-image: url('../../assets/icons/loading-calc.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}