@import '../../styles/variables.scss';

.avatar {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 1px 3px 8px 2px #ddd;
  width: 100%;
  gap: 2vw;
  min-width: 300px;
  max-width: 325px;
  transition: 0.6s;

  @media(max-width:$hideMenu-width) {
    position: absolute;
    top: 12%;
    left: -100%;
    z-index: 25;
  }
}

.avatar_active {
  @media(max-width:$hideMenu-width) {
    left: 7%;
  }
}

.avatar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  z-index: -10;
  transition: 0.6s;
}
.avatar__overlay_active {
  z-index: 10;
  visibility: visible;
  opacity: 1;
}

.avatarHeaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.avatar__img {
  border-radius: 50%;
  width: 35%;
  height: 35%;
  min-width: 150px;
}

.avatar__text {
  text-align: center;
  word-wrap: break-word;
  max-width: 300px;
}

.avatarList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  padding: 0;
}

.avatarList__item {
  margin-bottom: 6%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  * {
    margin-left: 5%;
  }
}

.avatar__input {
  background-color: transparent;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 15px;
  padding: 2px 8px;
  max-width: 150px;
  box-shadow: 1px 3px 8px 2px #ddd;
  width: 70%;
}

.avatar__input::-webkit-outer-spin-button,
.avatar__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    margin: 0;
}

.textContent {
  display: block;
  min-width: 100%;
  max-width: 220px;
  min-height: 30px;
  max-height: 70px;
  padding: 15px;
  margin-bottom: 30px;
  font: inherit;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 3px 8px 2px #ddd;
}

.avatar__openBtn {
  display: none;

  @media(max-width: $hideMenu-width) {
    display: block;
    border-radius: 50%;
    min-width: 36px;
    min-height: 36px;
    border: none;
    background-image: url('../../assets/images/person-avatar-placeholder.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    cursor: pointer;
    transition: 0.2s;
    z-index: 10;
    border: 3px solid rgb(124, 124, 124);

    &:hover {
      transform: scale(0.95)
    }

    @media(max-width: $mobile-width) {
      width: 46px;
      height: 46px;
    }
  }
}
