.buyList__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 15px;
    box-shadow: 1px 3px 8px 2px #ddd;
    padding: 15px 25px;
    margin-bottom: 1.5em;
}

.ingrCharacteristics__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

    div {
        text-align: center;
    }
}

.someIngrs__item {
    font-weight: bold;
}

.buyList__btn {
    padding: 5px 15px;
    border-radius: 10px;
}
