@import '../../../styles/variables.scss';

.loader__wrapper {
  position: relative;
  width: 300px;
  height: 300px;

  @media(max-width: $tablet-width) {
    width: 100%;
    height: 100%;
  }
}

.lazyLoader__img {

  @media(max-width: $tablet-width){
    width: 100%;
  }
}
